/* ********* GENERALITÃ ********* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar, .none{
    display: none;
}
.wrapper{
    display: flex;
    flex-flow: row nowrap;
}
figcaption{
    text-align: center;
}
a{
    color: white;
    cursor: pointer;
}


/* ******************** CALL TO ACTION **************** */
.call-to-action{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0 20px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.call-to-action a{
    text-decoration: none;

}

#cta-button{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    padding: 15px 45px;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 25px;
    position: relative;
    z-index: 100;
}


/* ******************** SIDEBAR **************** */
.sidebar{
    background-color: black;
    width: 250px;
    padding: 20px;
    z-index: 100;
}
.sidebar-container{
    color: #818181;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* background-color: red;   */
}
.sidebar-top-block{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar-top-block ul{
    margin: 20px 0;
}
.sidebar-top-block h2{
    color: white;
}
.sidebar-top-block > a{
    display: block;
    width: 80%;
}
li{
    margin: 10px 0;
    display: flex;
    color: #818181;
    flex-wrap: nowrap;
}
li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #818181;
    font-size: 13px;
}
.sidebar-top-block ul li a>img{
    width: 34px;
    margin: 0 10px 0 0;
}
.sidebar-selection{
    height: 34px;
    width: 2px;
    background-color: #ADFF2F;
    position: absolute;
    left: 0;
}
#plus-playlist{
    margin: 15px 5px 15px 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    text-align: start;
    color: #818181;
}
#plus-playlist .fa-solid{
    font-size: 3.5rem;
    text-align: start;
}
ol {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    flex-grow: 1;
}
.sidebar-bottom-block{
    width: 100%;
    height: calc(100% - 325px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-bottom-block > div{
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}
.sidebar-download, .sidebar-profile{
    display: flex;
    align-items: center;
    color: #818181;
}
.sidebar-download img, .sidebar-profile img{
    height: 20px;
    margin: 0 10px 0 0;
}
.divisore-sidebar{
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background-color: #818181;
}
.sidebar-profile img{
    background-color: #818181;
    border-radius: 10px;
}
.sidebar-profile{
    font-weight: bold;
    color: white;
}


/* ****************** SIDEBAR RIDOTTA XS ******************* */
        .sidebar-xs{
            height: 100%;           
            display: none;
            flex-flow: column wrap;
            justify-content: space-between;
        }
        .sidebar-xs-top{
            text-align: center;
            line-height: 30px;
        }
        .sidebar-xs-top a img{
            width: 80%;
        }
        #logo-small img{
            width: 100%;
        }
        .sidebar-xs-bottom{
            height: 100px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            text-align: center;
            gap: 20px;
        }
        .sidebar-download-xs{
            transform: scale(0.8);
        }
        .sidebar-download-xs img{
            width: 35px;
            padding-right: 5px;
            
        }
        .sidebar-profile-xs img{
            width: 40px;
            height: 40px;
            background-color: #818181;
            border-radius: 20px;
        }
        

/* ************************MAIN SECTION pt1************* */
.main-section{
    height: calc(100vh - 90px);
    width: calc(100vw - 250px);
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
.main-container{
    padding: 0 20px
}


/* ************************ NAV ************* */
nav{
    margin: 120px 0 0px;
    text-decoration: none;
    color: #818181;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: #818181;
    font-weight: bold;
    margin: 0 15px;
}
.nav-selection{

    width: 25px;
    height: 2px;
    background-color: #ADFF2F;
}
nav > div{
    height: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}


/* ************************MAIN SECTION pt2************* */

.main-container h1{
    font-size: 25px;
}
.main-row{
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
#song-box{
    height: 100%;
    width: calc((100% / 6) - (100px / 6));
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
    text-decoration: none;
}
.album-name{
    font-weight: bold;
}
.song-name{
    font-weight: bold;
    color: #818181;
}
.song-cover{
    margin-bottom: 10px;
    position: relative;
}
.song-cover-art{
    width: 100%;
}
#play-hover{
    font-size: 300%;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    display: none;
}
#subtitle-main-row{
    color: #818181;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}
.artist{
    border-radius: 50%;
}


/* *********************** MAIN PLAYER ******************** */
.main-player{
    height: 90px;
    width: 100%;
    background-color: #282828;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.current-song{
    height: 80%;
    width: 200px;
    min-width: 100px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    /* background-color: red; */
}
#current-song-box{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 3% 0 0;
}

#current-song-box figcaption {
    text-align: left;
    margin-left: 10px;
}
.current-song-cover{
    height: 80%;
}
.current-song-title{
    font-size: 15px;
}
.current-song-name{
    font-size: 11px;
    color: #818181;
}
.current-song .fa-regular{
    color: #818181;
    margin: 2px 0 0 0;
    font-size: 1.2em;
}
.commands{
    height: 80%;
    color: white;
    margin: 0px 5%;
    min-width: fit-content;
    max-width: 450px;
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content: center;
    /* DEBUG */
    /* background-color: rgb(0, 255, 42); */
}
.commands-row-buttons{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commands-row-buttons a{
    margin: 0 10px;
    color: white;
}
.fa-circle-play{
    font-size: 2em;
}
.current-song-line{
    font-size: 1em;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#progress-line{
    display: flex;
    flex-grow: 1;
}
#shown-progress-line{
    height: 5px;
    margin: 0 5%;
    position: relative;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}
#line-white{
    background-color: white;
    width: 35%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    left: 0;
}
#circle{
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: -3px;
    top: -3px;
    display: none;
}
#base-progress-line{
    background-color: #818181;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.minor-commands{
    color: white;
    height: 80%;
    width: 200px;
    min-width: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    /* DEBUG */    
    /* background-color: red; */
}




/* *********************** HOVERS ******************** */

#song-box:hover #play-hover{
    display: flex;
}
.call-to-action a:hover{
    transform-origin: center center;
    transform: scale(1.05);
}

a:hover, .current-song a .fa-regular:hover, #plus-playlist:hover{
    color: white;
}
#progress-line:hover #line-white{
    background-color: #ADFF2F;
}
#progress-line:hover #circle{
    display: block;
}
#play-button:hover {
    transform: scale(1.1);

}



/* *********************** MID 878PX ******************** */

@media screen and (max-width:878px) {

    #song-box {
        width: calc((100% / 4) - (100px / 6));
    }
    .album-name {
        font-size: 1em;
    }
    .song-name {
        font-size: .8em;
    }
}


/* *********************** SMALL 639PX ******************** */

@media screen and (max-width: 639px) {

    #song-box {
        width: calc((100% / 2) - (100px / 6));
    }

    .current-song{
        flex-flow: column wrap;
        justify-content: center;
    }
}


/* *********************** XSMALL 552PX ******************** */

@media screen and (max-width:552px) {

    .main-section{
        width: calc(100vw - 80px);
    }
    .sidebar{
        width: 80px;
    }
    .sidebar-container{
        display: none;
    }
    .sidebar-xs{
        display: flex
    }
    .current-song-line{
        width: 200px;
    }
    .commands{
        align-items: center;
        margin: 0px 2% 0 3%;
    }
    .minor-commands{
        min-width: 100px;
    }
    .current-song{
        height: 60%;
        
    }
    #current-song-box figcaption {
        margin-left: 7px;
    }
}