*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

.wrapper{
    display: flex;
    flex-flow: row nowrap;
}
figcaption{
    text-align: center;
}



/* ******************** CALL TO ACTION **************** */

.call-to-action{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0 20px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cta-button{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    padding: 15px 45px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
}

/* ******************** SIDEBAR **************** */

.sidebar{
    background-color: black;
    width: 250px;
    padding: 20px;
    z-index: 100;
}
.sidebar-container{
    color: #818181;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* background-color: red;   */
}
.sidebar-top-block ul{
    margin: 20px 0;
}
.sidebar-top-block h2{
    color: white;
}
.sidebar-top-block > a{
    display: block;
    width: 80%;
}
.sidebar-top-block .fa-solid{
    font-size: 3.5rem;
    text-align: start;
    width: auto;
    margin: 0 10px 0 0;
}
li{
    margin: 10px 0;
    gap: 5px;
    display: flex;
    list-style: none;
    color: #818181;
    font-size: 1.2em;
    flex-wrap: nowrap;
    align-items: center;
}
li a{
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    color: #818181;
    width: 2.5em;
}
.plus-playlist{
    margin: 15px 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
ol {
    width: 100%;
    height: 170px;
    overflow-y: scroll;
}
.sidebar-bottom-block{
    width: 100%;
    position: sticky;
    background-color: black;
}
.sidebar-download, .sidebar-profile{
    display: flex;
    align-items: center;
}
.sidebar-download img, .sidebar-profile img{
    height: 20px;
    margin: 0 10px 0 0;
}
.divisore-sidebar{
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background-color: #818181;
}
.sidebar-profile img{
    background-color: #818181;
    border-radius: 10px;
}
.sidebar-profile{
    color: white;
}




/* ************************MAIN SECTION************* */
.main-section{
    height: calc(100vh - 90px);
    width: calc(100vw - 250px);
    overflow-y: auto;
    background-color: #141922;
    color: white;
}
.main-container{
    padding: 0 20px
}
.main-container h1{
    font-size: 25px;
}
nav{
    margin: 120px 0 20px;
    text-align: center;
    text-decoration: none;
    color: #818181;
}
nav a{
    text-decoration: none;
    color: #818181;
    font-weight: bold;
    margin: 0 15px;
    line-height: 40px;
}
.main-row{
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
#song-box{
    height: 100%;
    width: calc((100% / 6) - (100px / 6));
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: white;
    text-decoration: none;
}
.album-name{
    font-weight: bold;
    font-size: 1.6em;
}
.song-name{
    font-weight: bold;
    font-size: 1.1em;
    color: #818181;
}
.song-cover{
    margin-bottom: 10px;
    width: 100%;
}
#subtitle-main-row{
    color: #818181;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}
.artist{
    border-radius: 50%;
}












/* *********************** MAIN PLAYER ******************** */

.main-player{
    height: 90px;
    width: 100%;
    background-color: #282828;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.current-song{
    height: 80%;
    width: 200px;
    min-width: 120;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    /* background-color: red; */
}
#current-song-box{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#current-song-box figcaption{
    text-align: left;
    margin-left: 15px;
}
.current-song-cover{
    height: 80%;
}
.current-song-title{
    font-size: 16px;
    text-decoration: underline;
}
.current-song-name{
    font-size: 12px;
    color: #818181;
}
.current-song .fa-regular{
    color: #818181;
    margin: 2px 0 0 0;
    font-size: 1.2em;
}
.commands{
    height: 80%;
    color: white;
    margin: 0px 20px;
    min-width: fit-content;
    max-width: 450px;
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content: center;
    /* DEBUG */
    /* background-color: rgb(0, 255, 42); */
}
.commands-row-buttons{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commands-row-buttons .fa-solid{
    margin: 0 10px;
}
.fa-circle-play{
    font-size: 2em;
}
.current-song-line{
    font-size: 1em;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#progress-line{
    background-color: #818181;
    height: 5px;
    width: 100px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
}
.minor-commands{
    color: white;
    height: 80%;
    width: 200px;
    min-width: 120;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* DEBUG */    
    /* background-color: red; */
}
.minor-commands #progress-line{
    margin: 0 0 0 20px;
}

/* *********************** MID 878PX ******************** */

@media screen and (max-width:878px) {
    /* nav a{
        line-height: 40px;
    } */
    #song-box {
        width: calc((100% / 4) - (100px / 6));
    }
    .album-name {
        font-size: 1em;
    }
    .song-name {
        font-size: .8em;
    }

}

/* *********************** SMALL 639PX ******************** */

@media screen and (max-width: 639px) {
    #song-box {
        width: calc((100% / 2) - (100px / 6));
    }

    .current-song{
        flex-flow: column wrap;
        justify-content: center;
    }
}


/* *********************** XSMALL 552PX ******************** */

@media screen and (max-width:552px) {
    
}